* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: dotted;
}

#container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0px auto;
  min-height: 100vh;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top:160px;
}

/* 页头样式 */
.header{
  width: 1200px;
  height:160px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.header .top_head {
  background-color: #333333;
  height: 100px;
  color: #fff;
  line-height: 100px;
  text-align: center;
}

.header .top_nav {
  width: 100%;
  margin: 0px auto;
  height: 60px;
  background-color: #232323;
}
.header .top_nav ul {
  list-style: none;
}
.header .top_nav > ul > li {
  background-color: #232323;
  line-height: 60px;
  float: left;
  margin: 0px;
}
.header .top_nav > ul > li > ul {
  display: none;
}
.header .top_nav > ul > li:hover {
  color: #fff;
  border-bottom: 5px solid #ff8726;
}
.header .top_nav > ul > li:hover ul {
  color: #ff8726;
  display: block;
  padding: 0px;
}
.header .top_nav a {
  text-decoration: none;
  padding: 10px 50px;
  color: #fff;
}
.header .top_nav a:hover {
  color: #ff8726;
}

/* 页脚样式 */
footer {
  width: 100%;
  font-size: 16px;
  background-color: #333333;
  color: #fff;
  padding: 20px 0px;
  margin: 0px auto;
}
footer.ftgithub {
  text-decoration: none;
  color: #fff;
}
footer.ftgithub:hover {
  color: #ff8726;
}

footer a{
  color:white;
}
